build/**
libs/**
.vscode/**
.cache/**
main
db/**
LogFiles/**
!build/.gitkeep
!build/build.*
!build/installdeps.*
!libs/.gitkeep
src/gui/build-GUI-Desktop-Debug
CMakeLists.txt.user
compile_commands.json
settings/**
!settings/.gitkeepsdsdfsdfsdfsdfsddddlg
