build/**
main
db/**
LogFiles/**
!build/.gitkeep
src/gui/build-GUI-Desktop-Debug
src/gui/GUI/*
!src/gui/GUI/mainwindow.h
!src/gui/GUI/mainwindow.cpp
!src/gui/GUI/mainwindow.ui
!src/gui/GUI/login.h
!src/gui/GUI/login.cpp
!src/gui/GUI/login.ui
!src/gui/GUI/CMakeLists.txt
!src/gui/GUI/addnewwindow.ui
!src/gui/GUI/addnewwindow.h
!src/gui/GUI/addnewwindow.cpp
!src/gui/GUI/setup.ui
!src/gui/GUI/setup.h
!src/gui/GUI/setup.cpp